@CHARSET "UTF-8";
/* Reset */
* {
	margin:0;
	padding:0
}

/********************* GERAL *********************/
a {outline:none}
img {border:none;}
html {
	background:#bfbfbf url('../img/fundo-home-borda.gif') repeat-y 50%
}
body {background: transparent url('../img/fundo-internas.gif') no-repeat 50% 90px;}
input {
	height:14px;
	padding:2px;
	border: 1px solid #6a9bcd;
}
li {
	list-style:none;
}

/********************* CABECALHO *********************/
#header {
	height:90px;
    position:relative;
}
#header h1 {
    float:left;
    margin-top:10px;
}
#header a.brand {
    margin:10px;
    background: transparent url('../img/logo-barragem.gif');    
    display:block;
    width:318px;
    height:56px;
    text-indent:-9999px;
}

/********************* SIDEBAR HEADER *********************/
.sidebar-header {
	margin-left: 20px;
	margin-top: 20px;
	float: left;
	background: #596e94;
	padding: 10px;
	width: 305px;
	height: 40px;
	position: relative;
}

.sidebar-header .corner {
	width: 10px;
	height: 10px;
	position: absolute;
}

.sidebar-header .tl {
	background-position: -30px 0px;
	top: 0px;
	left: 0px;
	background-color: #ffffff;
}

.sidebar-header .tr {
	background-position: -40px 0px;
	top: 0px;
	right: 0px;
	background-color: #ffffff;
}

.sidebar-header .bl {
	background-position: -30px -10px;
	bottom: 0px;
	left: 0px;
	background-color: #ffffff;
}

.sidebar-header .br {
	background-position: -40px -10px;
	bottom: 0px;
	right: 0px;
	background-color: #ffffff;
}

.sidebar-header a {
	text-decoration: none;
}

.sidebar-header a:hover {
	text-decoration: underline;
}

.sidebar-header .logout {
    float:right;
    top:4px;
    right:10px;
    border:none;
}
.twitterDiv {
	float: right; 
	margin-right: 20px; 
	margin-top: 18px;
	position: relative;
	width: 250px;
	height: 65px;
	white-space: nowrap;
}
.twitterDiv #figura {
	position: absolute;
	top: 0px;
	right: 0px;
}
.twitterDiv #descricao {
	border: 1px solid #FEBF50;
	background-color: #FAFAFA;
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 1px;
	height: 15px;
}
.twitterDiv #descricao_grande {
	display: none;
}

/********************* MENU *********************/
.internas .menu a:hover {
    background:#0D286F;
}

/********************* FORMS *********************/
#loginForm a:hover {
	text-decoration:underline;
}
#voltar a:hover {
	text-decoration: underline;
}

#searchForm {
    position:absolute;
    right:20px;
    top:50px
}
#searchForm .searchFormInput {
    background: transparent url('../img/pesquisa.gif') right 0 no-repeat;
    width:169px;
    height:18px;
    border: none;
}
.internas label, .dados .exemplo {
	float: left;
	text-align: right;
	margin-right: 5px;
	display: block
}

.internas input {
	background: #dde4ef;
	border: 1px solid #fff;
}
.input {
    margin-bottom: 4px;
	display:inline-block;
}
.mensagem-erro {
	margin-bottom: 5px;
}
.mensagem-erro-hidden {
	margin-bottom: 5px;
	display: none;
	width: 520px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/********************* RODAPE *********************/
#footer {
	background: #fff url('../img/fundo-rodape.gif') repeat-x;
	padding-top:.5em;
    margin:.5em 0;
    text-align:right;
    padding-right:1em;
    position:relative;
}
#footer li {
    list-style:none;
    display:inline;   
}
#footer a {
    text-decoration:none;
}
#footer .externo {
	position:absolute;
	left:10px;
	top:15px;
}
#content {
    margin-top:20px;
}

.corner {
	background: url('../img/bordas.gif?v1.2.22') no-repeat scroll 0 0 transparent;
	position: absolute;
}

.border {
	position: absolute;
}

.maincontent {
	padding: 10px 5px;
	background: #EEF1F3;
	position: relative;
	margin-bottom: 5px;
	margin-left: 10px;
	min-height: 450px;
}

.maincontent .corner {
	width: 14px;
	height: 14px;
}

.maincontent .tl {
	top: -5px;
	left: -5px;
	background-position: 0px -17px;
}

.maincontent .tr {
	top: -5px;
	right: -5px;
	background-position: -14px -17px;
}

.maincontent .bl {
	bottom: -5px;
	left: -5px;
	background-position: 0px -31px;
}

.maincontent .br {
	bottom: -5px;
	right: -5px;
	background-position: -14px -31px;
}

.maincontent .top {
	height: 5px;
	top: -5px;
	left: 9px;
	right: 9px;
}

.maincontent .left {
	width: 5px;
	top: 9px;
	left: -5px;
	bottom: 9px;
}

.maincontent .bottom {
	height: 5px;
	bottom: -5px;
	left: 9px;
	right: 9px;
}

.maincontent .right {
	width: 5px;
	top: 9px;
	right: -5px;
	bottom: 9px;
}

.maincontent .border {
	background-color: #EEF1F3;
}

.maincontent h2, .maincontent h3 {
	margin-bottom:10px;
}
.doiskm-class {
	vertical-align: top; 
}
.isys-class {
	vertical-align: top; 
	border-right:1px solid; 
	padding-right:4px;
}

/********************* TABLES *********************/
.gradient tbody tr:hover {
	background: #DEDFFF url('../img/tables/bg-cell-hover.png') repeat-x;
}

/********************* DADOS BARRAGEM *********************/
.dados-barragem dd a:hover {
	text-decoration: underline;
}

/********************* PERFIL *************/
.tituloPerfil {
	text-align: center;
	display:table;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width: 310px;
}
.tituloPerfil .passoAtivo {
	color: #ffffff; 
	width: 100px; 
	background-color: #596E94; 
	padding: 15px; 
	float: left;
	margin-left: 20px;
	position: relative;
}

.passoAtivo .corner {
	width: 10px;
	height: 10px;
}

.passoAtivo .tl {
	top: -4px;
	left: -4px;
	background-position: -51px -25px;
}

.passoAtivo .tr {
	top: -4px;
	right: -4px;
	background-position: -61px -25px;
}

.passoAtivo .bl {
	bottom: -4px;
	left: -4px;
	background-position: -51px -35px;
}

.passoAtivo .br {
	bottom: -4px;
	right: -4px;
	background-position: -61px -35px;
}

.passoAtivo .top {
	height: 4px;
	top: -4px;
	left: 6px;
	right: 6px;
}

.passoAtivo .left {
	width: 4px;
	top: 6px;
	left: -4px;
	bottom: 6px;
}

.passoAtivo .bottom {
	height: 4px;
	bottom: -4px;
	left: 6px;
	right: 6px;
}

.passoAtivo .right {
	width: 4px;
	top: 6px;
	right: -4px;
	bottom: 6px;
}

.passoAtivo .border {
	background-color: #596E94;
}

.tituloPerfil .passoInativo {
	width: 100px; 
	background-color: #ffffff; 
	padding: 15px; 
	float: left; 
	margin-left: 20px;
	position: relative;
}

.passoInativo .corner {
	width: 10px;
	height: 10px;
}

.passoInativo .tl {
	top: -4px;
	left: -4px;
	background-position: -30px -25px;
}

.passoInativo .tr {
	top: -4px;
	right: -4px;
	background-position: -40px -25px;
}

.passoInativo .bl {
	bottom: -4px;
	left: -4px;
	background-position: -30px -35px;
}

.passoInativo .br {
	bottom: -4px;
	right: -4px;
	background-position: -40px -35px;
}

.passoInativo .top {
	height: 4px;
	top: -4px;
	left: 6px;
	right: 6px;
}

.passoInativo .left {
	width: 4px;
	top: 6px;
	left: -4px;
	bottom: 6px;
}

.passoInativo .bottom {
	height: 4px;
	bottom: -4px;
	left: 6px;
	right: 6px;
}

.passoInativo .right {
	width: 4px;
	top: 6px;
	right: -4px;
	bottom: 6px;
}

.passoInativo .border {
	background-color: #fff;
}

.tituloPerfil .passoAtivo h2 {
	color: #ffffff;
}
.rich-fileupload-list-decor {
	border: 0px;
}
.rich-fileupload-toolbar-decor {
	margin-left: 5px;
}
.rich-panel-body {
	float: left;
}
.foto-perfil {
	width: 123px; 
	height: 162px;
}
.hidden {
	display:none;
}

/********************* FILEUPLOAD COMPONENT *********************/
.dados .categoria {
	display: inline;
}
.dados .categoria td {
	width: 120px;
}
.dados .categoria input {
	float: right;
	width: auto;
	margin-left: 5px;
}
.dados .categoria label {
	width: auto;
	white-space: nowrap;
	border: none;
	clear: none;
}
.perfilFotoUploadFotoContainer {
/*	background-color: #ffffff;
	border: 1px solid #C4C0B9;*/
	padding: 10px;
	max-width: 500px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
}

.perfilBtnUploadFotoContainer {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.perfilBtnContainer {
	padding: 2px; 
	padding-top: 20px;
	width: 500px;
	text-align: center; 
	margin-left: auto; 
	margin-right: auto;
}
.perfilContainer {
	padding: 2px; 
	width: 580px; 
	background-color: #ffffff; 
	-moz-border-radius: 10px; 
    -webkit-border-radius: 10px;
	margin-left: auto; 
	margin-right: auto;
}

/********************* DADOS *********************/
.dados {
	padding-right: 10px;
}
.dados label, .dados .exemplo {
	width:250px;
    padding-right:5px;
    clear: both;
}
.dados label, .dadosGerirJogador label, .dadosGerirJogadorListaJogadores label {
	border-right: 1px solid #888;
}
.dados .input {
	clear:both;
}
.dados .submit, .perfilBtnContainer .submit {
    background:green;
    padding:4px 20px;
    height:24px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

/********************* RODADAS *********************/
.rodadas a:hover, .rodadas a.atual {
	background: transparent url('../img/fundo-link-rodadas-atual.gif') no-repeat 0 0;
}

/********************* ADD JOGO *********************/
.anterior_proximo a:hover {
	text-decoration: underline;
}
/********************* PADROES *********************/
.mensagem_sucesso {
	background-color: #CCFFCC;
	border: 1px solid #008000;
	position: relative;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	width: 300px;
}
.mensagem_sucesso .corner {
	width: 3px;
	height: 3px;
	background-color: #EEF1F3;
}
.mensagem_sucesso .tl {
	background-position: -80px -16px;
	top: -1px;
	left: -1px;
}
.mensagem_sucesso .tr {
	background-position: -83px -16px;
	top: -1px;
	right: -1px;
}
.mensagem_sucesso .bl {
	background-position: -80px -19px;
	bottom: -1px;
	left: -1px;
}
.mensagem_sucesso .br {
	background-position: -83px -19px;
	bottom: -1px;
	right: -1px;
}
.mensagem_sucesso .icone {
	vertical-align: middle;
}
.mensagem_sucesso .top, .mensagem_sucesso .left, .mensagem_sucesso .bottom, .mensagem_sucesso .right {
	display: none;
}

/********************* TYPOGRAPHY *********************/
body {
	font-family: Tahoma, Arial, Helvetica, sans serif;
	font-size:95%;
	line-height:1.125em;
}
label {
	color: #2c6695;
}
.maincontent h2, .maincontent h3, .maincontent dd a {
    color:#4f6aad;
}
input {
	font-size:10px;
}
.sidebar-header {
	font-size:.8em;
}
.sidebar-header p {
	font-size:.9em;
	color:#fff;
    line-height:1.8em;
}
.sidebar-header a {
	color:#fff;
}
#footer {
    color:#aaa;
}
#footer a {
    color:#aaa;
	font-size: .9em;
}
.gradient tbody tr:hover {
	color: #339;
}
.rodadas a:hover, .rodadas a.atual {
	color:#333;
}
.dados .submit, .perfilBtnContainer .submit {
    color:#fff;
    font-weight:bold;
}
.dados label, .dados .exemplo, .dados .complemento, .dadosExibirPerfil label, .dadosGerirJogador label, .dadosGerirJogadorListaJogadores label, .mensagem_sucesso, .instrucao_upload {
	color:#444;
	font-size:.8em;
}
.mensagem-erro, .mensagem-erro-hidden {
    font-size:12px;
	color: #FF0000;
}
.twitterDiv #descricao {
	color: #069;
	font-size:0.7em;
}