@CHARSET "UTF-8";

/* Reset */
* {
	margin: 0;
	padding: 0
}

/********************* GERAL *********************/
a {
	outline: none
}

img {
	border: none;
}

html {
	background: #bfbfbf url('../img/fundo-home-borda.gif') repeat-y 50%
}

body {
	background: transparent url('../img/fundo-internas.gif') no-repeat 50%
		90px;
}

input {
	height: 14px;
	padding: 2px;
	border: 1px solid #6a9bcd;
}

li {
	list-style: none;
}

legend {
	padding: 0 5px;
}

fieldset {
	padding: 5px;
	border: 1px solid #95a3ba;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	clear: both;
}

/********************* INDEX *********************/
#atualizacoes {
	position: relative;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}
#atualizacao {
	border-bottom:1px solid #95A3BA;
	clear:both;
	float:left;
	padding:15px 0px;
	position:relative;
	width: 545px;
}
#atualizacoes .foto-perfil-small {
	position: relative;
	float: left;
	clear: left;
}
#atualizacoes .sujeito {
	position: relative;
	float: left;
	clear: none;
	margin-left: 15px;
}
#atualizacoes .data {
	position: relative;
	float: left;
	clear: right;
}
#atualizacoes .acao {
	position: relative;
	clear: none;
	float: left;
	margin-left: 25px;
	margin-top: 10px;
	width: 85%;
}
.new_mail {
	left:155px;
	position:absolute;
	top:10px;
}

/********************* CABECALHO *********************/
#header {
	height: 90px;
	position: relative;
}

#header h1 {
	float: left;
	margin-top: 10px;
}

#header a.brand {
	margin: 10px;
	background: transparent url('../img/logo-barragem.gif');
	display: block;
	width: 318px;
	height: 56px;
	text-indent: -9999px;
}

.twitterDiv {
	float: right; 
	margin-right: 20px; 
	margin-top: 18px;
	position: relative;
	width: 250px;
	height: 65px;
	white-space: nowrap;
}
.twitterDiv #figura {
	position: absolute;
	top: 0px;
	right: 0px;
}
.twitterDiv #descricao {
	border: 1px solid #FEBF50;
	background-color: #FAFAFA;
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 1px;
	height: 15px;
}
.twitterDiv #descricao_grande {
	display: none;
}

/********************* SIDEBAR HEADER *********************/
.sidebar-header {
	margin-left: 20px;
	margin-top: 20px;
	float: left;
	background: #596e94;
	padding: 10px;
	width: 305px;
	height: 40px;
	position: relative;
}

.sidebar-header .corner {
	width: 10px;
	height: 10px;
}

.sidebar-header .tl {
	background-position: -30px 0px;
	top: 0px;
	left: 0px;
	background-color: #ffffff;
}

.sidebar-header .tr {
	background-position: -40px 0px;
	top: 0px;
	right: 0px;
	background-color: #ffffff;
}

.sidebar-header .bl {
	background-position: -30px -10px;
	bottom: 0px;
	left: 0px;
	background-color: #ffffff;
}

.sidebar-header .br {
	background-position: -40px -10px;
	bottom: 0px;
	right: 0px;
	background-color: #ffffff;
}

.sidebar-header a {
	text-decoration: none;
}

.sidebar-header a:hover {
	text-decoration: underline;
}

.sidebar-header .logout {
	float: right;
	top: 4px;
	right: 10px;
	border: none;
}

/********************* BONUS *********************/
.add-bonus .dados-popup label {
	width:70px;
}
.fieldset_bonus li {
	list-style: disc inside none;
}

/********************* FIELDSETS *********************/
fieldset#ranking,fieldset#jogos, fieldset#bonuses {
	float: left;
	width: 460px;
}

fieldset#detalhes-jogo {
	padding-right: 10px;
	min-height: 80px;
}

fieldset#parciais {
	padding-right: 10px;
}

#gerirJogador fieldset {
	width: 365px;
}

.maincontent a {
	color: #333333;
}

/********************* SIDEBAR e MAINCONTENT *********************/
.sidebar {
	text-align: center;
	padding: 10px 2px;
}

.maincontent {
	padding: 10px 5px;
}

.sidebar a {
	text-decoration: none;
}

.sidebar, .maincontent {
	background: #EEF1F3;
	min-height: 600px;
	position: relative;
	margin-bottom: 5px;
}

.sidebar .corner, .maincontent .corner {
	width: 14px;
	height: 14px;
}

.sidebar .tl, .maincontent .tl {
	top: -5px;
	left: -5px;
	background-position: 0px -17px;
}

.sidebar .tr, .maincontent .tr {
	top: -5px;
	right: -5px;
	background-position: -14px -17px;
}

.sidebar .bl, .maincontent .bl {
	bottom: -5px;
	left: -5px;
	background-position: 0px -31px;
}

.sidebar .br, .maincontent .br {
	bottom: -5px;
	right: -5px;
	background-position: -14px -31px;
}

.sidebar .top, .maincontent .top {
	height: 5px;
	top: -5px;
	left: 9px;
	right: 9px;
}

.sidebar .left, .maincontent .left {
	width: 5px;
	top: 9px;
	left: -5px;
	bottom: 9px;
}

.sidebar .bottom, .maincontent .bottom {
	height: 5px;
	bottom: -5px;
	left: 9px;
	right: 9px;
}

.sidebar .right, .maincontent .right {
	width: 5px;
	top: 9px;
	right: -5px;
	bottom: 9px;
}

.sidebar .border, .maincontent .border {
	background-color: #EEF1F3;
}

/********************* MENU *********************/
.menu .corner {
	width: 3px;
	height: 3px;
}

.menu .top {
	display: none;
}

.menu .bottom {
	display: none;
}

.menu .tl {
	top: 0px;
	left: 0px;
}

.menu .tr {
	top: 0px;
	right: 0px;
}

.menu .bl {
	bottom: 0px;
	left: 0px;
}

.menu .br {
	bottom: 0px;
	right: 0px;
}

.menu a .tl {
	background-position: -0px -8px;
}

.menu a .tr {
	background-position: -3px -8px;
}

.menu a .bl {
	background-position: -0px -11px;
}

.menu a .br {
	background-position: -3px -11px;
}

.menu a:hover .tl {
	background-position: -7px -8px;
}

.menu a:hover .tr {
	background-position: -10px -8px;
}

.menu a:hover .bl {
	background-position: -7px -11px;
}

.menu a:hover .br {
	background-position: -10px -11px;
}

.menu a {
	background: #596E94;
	position: relative;
	padding-left: 12px;
	display: block;
	margin-left:4px;
	margin-right:4px;
	height: 20px;
}

.menu a:hover {
	background: #0D286F;
}

.menu li {
	text-align: left;
	height: 22px;
}

.new {
	vertical-align: bottom;
}

/********************* MENU CONTEXTUAL *********************/
.menu-contextual {
	margin-bottom: 10px;
}

.menu-contextual li {
	display: inline;
	margin-right: 3px;
}

.menu-contextual span, .menu-contextual a {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	position: relative;
	background-repeat: no-repeat;
	background-position: 2px center;
}

.menu-contextual a {
	background-color: #B1C3FE;
}

.corner {
	background: url('../img/bordas.gif?v1.2.22') no-repeat scroll 0 0 transparent;
	position: absolute;
}

.border {
	position: absolute;
}

.menu-contextual .corner {
	width: 4px;
	height: 4px;
}

.menu-contextual .tl {
	top: -1px;
	left: -1px;
}

.menu-contextual .tr {
	top: -1px;
	right: -1px;
}

.menu-contextual .bl {
	bottom: -1px;
	left: -1px;
}

.menu-contextual .br {
	bottom: -1px;
	right: -1px;
}

.menu-contextual a .tl {
	background-position: -78px -25px;
}

.menu-contextual a .tr {
	background-position: -82px -25px;
}

.menu-contextual a .bl {
	background-position: -78px -29px;
}

.menu-contextual a .br {
	background-position: -82px -29px;
}

.menu-contextual span .tl {
	background-position: -78px -35px;
}

.menu-contextual span .tr {
	background-position: -82px -35px;
}

.menu-contextual span .bl {
	background-position: -78px -39px;
}

.menu-contextual span .br {
	background-position: -82px -39px;
}

.menu-contextual span .border {
	background-color: #6a9bcd;
}

.menu-contextual a .border {
	background-color: #B1C3FE;
}

.menu-contextual .top {
	height: 1px;
	top: -1px;
	left: 3px;
	right: 3px;
}

.menu-contextual .left {
	width: 1px;
	top: 3px;
	left: -1px;
	bottom: 3px;
}

.menu-contextual .bottom {
	height: 1px;
	bottom: -1px;
	left: 3px;
	right: 3px;
}

.menu-contextual .right {
	width: 1px;
	top: 3px;
	right: -1px;
	bottom: 3px;
}


/********************* FORMS *********************/
#loginForm a:hover {
	text-decoration: underline;
}

.voltar {
	background: transparent url('../img/buttons/btn-voltar.png') no-repeat 0 0;
	padding-left: 17px;
}

.voltar a:hover {
	text-decoration: underline;
}

.voltar a {
	text-decoration: none;
}

#searchForm {
	position: absolute;
	right: 20px;
	top: 55px
}

#searchForm .searchFormInput {
	background-color: #F6F6F6;
	height: 19px;
	padding: 1px;
	vertical-align: bottom;
	width: 169px;
	border: none;
}

.internas input {
	background: #dde4ef;
	border: 1px solid #fff;
}

/********************* RODAPE *********************/
#footer {
	background: #fff url('../img/fundo-rodape.gif') repeat-x;
	padding-top: .5em;
	margin: .5em 0;
	text-align: right;
	padding-right: 1em;
	position: relative;
}

#footer li {
	list-style: none;
	display: inline;
}

#footer a {
	text-decoration: none;
}

#footer .externo {
	position: absolute;
	left: 10px;
	top: 15px;
}

#content {
	margin-top: 20px;
}

.maincontent h2,.maincontent h3 {
	margin-bottom: 10px;
}

.doiskm-class {
	vertical-align: top;
}

.isys-class {
	vertical-align: top;
	border-right: 1px solid;
	padding-right: 4px;
}

/********************* ADD JOGADOR *********************/
#add-jogador .filtro-jogador {
	width: 230px;
}

#add-jogador .checkbox {
	float: left;
}

#add-jogador .adicionarJogadorInput, #add-evento .adicionarJogadorInput {
	float: left;
	clear: none;
	margin-right: 10px;
}

#add-jogador .btn-novo, #add-evento .btn-novo {
	float: left;
	clear: none;
	padding-bottom: 5px;
}

#add-jogador .salvar {
	float: left;
	clear: left;
}

#add-jogador .submit {
	margin-top: 10px;
	background: green;
	padding: 4px 20px;
	height: 24px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

/********************* PERFIL *************/
.alterar-senha .dados-popup label {
	width: 180px;
}

/********************* ENVIAR MENSAGEM *************/
.container-mensagem {
	background-color: #ffffff;
	border: 1px solid #95A3BA;
	padding: 5px;
	margin: 5px;
	position: relative;
}
.container-mensagem .corner {
	background-color: #EEF1F3;
	width: 3px;
	height: 3px;
}
.container-mensagem .tl {
	background-position: -80px -7px;
	top: -1px;
	left: -1px;
}
.container-mensagem .tr {
	background-position: -83px -7px;
	top: -1px;
	right: -1px;
}
.container-mensagem .bl {
	background-position: -80px -10px;
	bottom: -1px;
	left: -1px;
}
.container-mensagem .br {
	background-position: -83px -10px;
	bottom: -1px;
	right: -1px;
}
.container-mensagem .top, .container-mensagem .bottom, .container-mensagem .left, .container-mensagem .right {
	display: none;
}
.container-mensagem .botao-padrao-redondo .top, .container-mensagem .botao-padrao-redondo .bottom, .container-mensagem .botao-padrao-redondo .left, .container-mensagem .botao-padrao-redondo .right {
	display: block;
}

/******** Remetente ********/
.container-remetente .foto {
	height: 49px;
	width: 37px;
	float: left;
}
.container-remetente .remetente-data-hora {
	float: left;
	padding: 5px;
}

/******** Texto ********/
.container-texto .texto {
	width: 350px;
	float: right;
	margin: 0px;
	min-height: 30px;
}
.container-texto .container-acoes {
	float: right;
	clear: right;
	white-space: nowrap;
}

/******** Resposta ********/
#receberMensagem .container-resposta {
	display: none;
}
.container-resposta .resposta {
	width: 100%;
	clear: both;
	height: 80px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.container-resposta .caracteres-restantes {
	float: left;
	clear: left;
}
.container-resposta .botao-enviar {
	float: right;
	clear: right;
}
.go_red {
	color: red;
}
.go_green {
	color: green;
}

/********************* EXIBIR PERFIL *********************/
.botao-jogadores {
	height: 18px;
	width: 18px;
	vertical-align: middle;
	float: left;
}

.botao-jogadores-padding {
	padding-right: 6px;
}

.dadosExibirPerfil {
	float: left;
}

.dadosExibirPerfilLinhas {
	margin-bottom: 5px;
	display: inline-table;
}

.dadosExibirPerfilColunaEsquerda {
	padding-right: 5px;
	border-right: 1px solid #888;
	float: left;
	width: 200px;
}

.dadosExibirPerfil .dadosExibirPerfilColunaDireita {
	float: left;
	width: 180px;
	text-align: left;
}

.foto-exibir-perfil {
	width: 123px;
	height: 162px;
	padding: 10px;
	background-color: #ffffff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	float: right;
}

/********************* GERIR JOGADOR *********************/
.btn-visualiza {
	float: right;
	padding-right: 3px;
}

#gerirJogador .exibirPainelBarragemRanking {
	width: 100%;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#gerirJogador .tipoPesquisa input {
	float: left;
	clear: none;
}

#gerirJogador .dados label {
	width: auto;
}

#gerirJogador .tipoPesquisa label {
	width: auto;
	border: 0px;
	padding-left: 5px;
	clear: none;
	white-space: nowrap;
}

#gerirJogador .searchFormInput,#vincular-jogador .searchFormInput,#gerirBarragem .searchFormInput, #add-jogador .filtro-jogador {
	background-color: #DDE4EF;
	height: 17px;
	padding: 1px;
	vertical-align: bottom;
}

#gerirJogador .searchFormButton,#vincular-jogador .searchFormButton,#searchForm .searchFormButton, #add-jogador .botao-pesquisa-lupa {
	border: none;
	background-color: inherit;
	padding: 0px;
	margin: 0px;
	height: auto;
	width: auto;
	vertical-align: bottom;
}

#gerirJogador .adicionarJogadorLabel {
	width: auto;
}

#gerirJogador .adicionarJogadorInput {
	float: left;
	margin-right: 5px;
}

.internas label,.dados .exemplo {
	float: left;
	text-align: right;
	margin-right: 5px;
	display: block
}

.input {
	margin-bottom: 4px;
}

#gerirJogador .texto_informativo {
	float: left;
}

#vincular-jogador .exibirPainelBarragemRanking {
	padding: 5px 0 0;
	width: 100%;
}

/****************** EVENTOS ******************/
.participantes {
	width: 80px;
}
.grafico {
	margin-bottom: 5px;
}
.legend-picture {
	vertical-align: bottom;
}
#demo-tip-yellowsimple:HOVER,#demo-tip-yellowsimple-2:HOVER {
	text-decoration: none;
}
#demo-tip-yellowsimple,#demo-tip-yellowsimple-2 {
	background: #fff url('../img/help.png') no-repeat;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	text-decoration: none;
}
.tip-yellowsimple {
	z-index:10000;
	text-align:left;
	border:1px solid #c7bf93;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:6px 8px;
	min-width:50px;
	max-width:300px;
	color:#000;
	background-color:#fff9c9;
	/**
	 * - If you set a background-image, border/padding/background-color will be ingnored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}
.tip-yellowsimple .tip-inner {
	font:12px/16px arial,helvetica,sans-serif;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-yellowsimple .tip-arrow-top {
	margin-top:-6px;
	margin-left:-5px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:6px;
	background:url('../img/tip-yellowsimple_arrows.gif') no-repeat;
}
.tip-yellowsimple .tip-arrow-right {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:0;
	top:50%;
	left:100%;
	width:6px;
	height:9px;
	background:url('../img/tip-yellowsimple_arrows.gif') no-repeat -9px 0;
}
.tip-yellowsimple .tip-arrow-bottom {
	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:50%;
	width:9px;
	height:6px;
	background:url('../img/tip-yellowsimple_arrows.gif') no-repeat -18px 0;
}
.tip-yellowsimple .tip-arrow-left {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:-6px;
	top:50%;
	left:0;
	width:6px;
	height:9px;
	background:url('../img/tip-yellowsimple_arrows.gif') no-repeat -27px 0;
}

/********************* BOTOES *********************/
.menu-contextual .btn_perfil_bckgnd, .menu-contextual .btn_mensagens_bckgnd, .menu-contextual .btn_eventos_bckgnd, .menu-contextual .btn_adicionar_bckgnd {
	padding-left: 20px;
}
.menu-contextual .btn_perfil_bckgnd, .menu-contextual .btn_mensagens_bckgnd, .menu-contextual .btn_eventos_bckgnd, .menu-contextual .btn_adicionar_bckgnd {
	padding-left: 20px;
}
.btn_perfil_bckgnd {
	background-image: url('../img/buttons/btn-perfil.png');
}
.btn_mensagens_bckgnd {
	background-image: url('../img/buttons/btn-enviar.png');
}
.btn_eventos_bckgnd {
	background-image: url('../img/buttons/btn-eventos.png');
}
.btn_adicionar_bckgnd {
	background-image: url('../img/buttons/btn-add.png');
}

.btn-novo {
	float: right;
	margin-bottom: 10px;
}

.btn-novo a {
	padding-left: 25px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-top: 4px;
	position: relative;
	background-color: #95C396;
	background-image: url('../img/buttons/btn-novo.gif');
	background-repeat: no-repeat;
	background-position: 5px center;
	text-decoration: none;
	white-space: nowrap;
}

.btn-novo .corner {
	width: 4px;
	height: 4px;
}

.btn-novo .tl {
	top: -1px;
	left: -1px;
}

.btn-novo .tr {
	top: -1px;
	right: -1px;
}

.btn-novo .bl {
	bottom: -1px;
	left: -1px;
}

.btn-novo .br {
	bottom: -1px;
	right: -1px;
}

.btn-novo .top {
	height: 1px;
	top: -1px;
	left: 3px;
	right: 3px;
}

.btn-novo .left {
	width: 1px;
	top: 3px;
	left: -1px;
	bottom: 3px;
}

.btn-novo .bottom {
	height: 1px;
	bottom: -1px;
	left: 3px;
	right: 3px;
}

.btn-novo .right {
	width: 1px;
	top: 3px;
	right: -1px;
	bottom: 3px;
}

.btn-novo a .border {
	background-color: #95C396;
}

.btn-novo a .tl {
	background-position: -14px -7px;
}

.btn-novo a .tr {
	background-position: -18px -7px;
}

.btn-novo a .bl {
	background-position: -14px -11px;
}

.btn-novo a .br {
	background-position: -18px -11px;
}

.gradient {
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

.gradient th {
	padding: 8px;
	background: #b9c9fe url('../img/tables/head.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
}

.gradient td {
	padding-left: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}

.gradient tr {
	background: #e8edff url('../img/tables/bg-cell-blue.png') repeat-x;
}

.gradient tr.alt {
	background: #EEE4E4 url('../img/tables/bg-cell-red.png') repeat-x;
}

th.actions {
	text-align: center;
}

td.actions {
	text-align: center;
}

.dados-barragem {
	margin-bottom: 10px;
}

.dados-barragem dt {
	background: #596e94;
	float: left;
	width: 80px;
	text-align: right;
	margin-right: 8px;
	padding: 2px;
	clear: both;
	border-bottom: 1px solid
}

.dados-barragem dd {
	padding: 2px;
}

.versus {
	background: transparent url('../img/versus.png') no-repeat 50%;
}

.columnGrid img,.columnGrid select {
	margin-right: 5px;
}

.nowrap {
	white-space: nowrap;
}

/********************* EXIBIR PAINEL BARRAGEM *********************/
#painelBarragem .exibirPainelBarragemRanking {
	width: 38%;
}

.exibirPainelBarragemRanking {
	float: left;
	padding: 3px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.exibirPainelBarragemRodada {
	width: 58%;
	float: right;
	padding: 3px;
}

.exibirPainelBarragemRodadaBodyVersus {
	padding: 2px;
	background: transparent url('../img/versus.png') no-repeat 50%;
}

.setaPaginacao {
	background: url('../img/buttons/btn-arrows-sprite.gif') no-repeat scroll
		0 0 transparent;
	height: 14px;
}

.setaPaginacaoPrimeira {
	background-position: 0px 0px;
	width: 16px;
}

.setaPaginacaoAnterior {
	background-position: -17px 0px;
	width: 8px;
}

.setaPaginacaoProxima {
	background-position: -26px 0px;
	width: 8px;
}

.setaPaginacaoUltima {
	background-position: -35px 0px;
	width: 16px;
}

.setaPaginacaoTransparenciaSimples {
	width: 8px;
	height: 14px;
}

.setaPaginacaoTransparenciaDupla {
	width: 16px;
	height: 14px;
}

.setaPaginacaoContainer {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#gerirBarragem fieldset {
	width: 365px;
}

#gerirBarragem .exibirPainelBarragemRanking {
	padding: 5px 0 0;
	width: 100%;
}

#gerirBarragem .tipoPesquisa input {
	float: left;
	clear: none;
}

#gerirBarragem .dados label {
	width: auto;
}

#gerirBarragem .tipoPesquisa label {
	width: auto;
	border: 0px;
	padding-left: 5px;
	clear: none;
	white-space: nowrap;
}

#gerirBarragem .searchFormButton {
	border: none;
	background-color: inherit;
	padding: 0px;
	margin: 0px;
	height: auto;
	width: auto;
	vertical-align: bottom;
}

/********************* DADOS *********************/
.dados label {
	border-right: 1px solid #888;
}

.dados {
	padding-right: 10px;
}

.dados .submit,.perfilBtnContainer .submit {
	background: green;
	padding: 4px 20px;
	height: 24px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.dados .salvarPerfil {
	padding-top: 20px;
	text-align: center;
}

.dados .spanBtn {
	width: 250px;
	float: left;
}

.dados label,.dados .exemplo {
	padding-right: 5px;
	clear: both;
}

#perfil label, #perfil .exemplo, #dadosBasicos label, #dadosBasicos .exemplo {
	width: 250px;
}

#perfil .dados .categoria label {
	width: auto;
	white-space: nowrap;
	border: none;
	clear: none;
}

.dados .input {
	clear: both;
}

.dados .categoria {
	display: inline;
}

.dados .categoria td {
	width: 120px;
}

.dados .categoria input {
	float: right;
	width: auto;
	margin-left: 5px;
}

/********************* DADOS POPUP *********************/
.dados-popup label {
	border-right: 1px solid #888;
	padding-right: 5px;
}

.dados-popup .input {
	clear: both;
}

.dados-popup .salvar {
	padding-top: 10px;
}

.dados-popup .campos_obrigatorios {
	border-right: 0px;
	min-width: 245px;
}

.editar-ciclo-jogador .dados-popup .campos_obrigatorios {
	border-right: 0px;
	min-width: 80px;
}

.dados-popup .submit {
	background: green;
	padding: 4px 20px;
	height: 24px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.add-barragens .dados-popup label {
	width: 400px;
}
.add-barragens .salvar {
	margin-bottom: 5px;
}

.input .disabled {
	background: #D3D7DE;
}

.add-jogo .dados-popup {
	padding-right: 10px;
}

.add-jogo .dados-popup label {
	width: 60px;
}

.add-jogo .dados-popup .blank, .add-evento .dados-popup .blank {
	width: auto;
	border-right: 0px;
	padding-right: 0px;
}

.mensagem-erro {
	margin-bottom: 5px;
}

.mensagem-erro-hidden {
	margin-bottom: 5px;
	display: none;
	width: 520px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/********************* DADOS BASICOS BARRAGEM *********************/
.dados-basicos-barragem {
	background-color: #596E94;
	height: 40px;
	padding-left: 20px;
	margin-bottom: 10px
}

.dados-basicos-barragem .input {
	float: left;
	width: 180px;
}

.dados-basicos-barragem label {
	text-align: left;
	float: left;
	width: 80px;
}

.dados-basicos-barragem input {
	clear: both;
}

/********************* GERIR CICLOS ***************/
.editar-ciclo-jogador .dados-popup label {
	width: 60px;
}

/********************* CICLOS *********************/
.ciclos a {
	background: transparent url('../img/marcador-ciclo.gif') no-repeat 0 4px;
	padding-left: 12px;
}

.ciclos .atual {
	border-bottom: 1px solid orange;
}

.ciclos {
	clear: right;
	float: right;
	margin-bottom: 10px;
	width: 80px;
}

/********************* BLOCO *********************/
.bloco {
	background: transparent url('../img/border-sidebar.gif') no-repeat bottom;
	padding-bottom: 10px;
	margin: 10px 0;
}

/********************* TABLES *********************/
.gradient tbody tr:hover {
	background: #DEDFFF url('../img/tables/bg-cell-hover.png') repeat-x;
}

/********************* DADOS BARRAGEM *********************/
.dados-barragem dd a:hover {
	text-decoration: underline;
}

/********************* FILEUPLOAD COMPONENT *********************/
.rich-fileupload-list-decor {
	border: 0px;
}

.rich-fileupload-toolbar-decor {
	margin-left: 5px;
}

.rich-panel-body {
	float: left;
}

.foto-perfil {
	width: 123px;
	height: 162px;
}

.foto-perfil-small {
	width: 37px;
	height: 49px;
}

.perfilFotoUploadFotoContainer {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
}

.perfilBtnUploadFotoContainer {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.instrucao_upload {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

/********************* RODADAS *********************/
.rodadas a:hover,.rodadas a.atual {
	background: transparent url('../img/fundo-link-rodadas-atual.gif')
		no-repeat 0 0;
}

.rodadas li {
	display: inline;
	line-height: 23px;
}

.rodadas a {
	background: transparent url('../img/fundo-link-rodadas.gif') no-repeat 0 0
		;
	display: block;
	float: left;
	margin-left: 2px;
	margin-bottom: 2px;
	width: 23px;
	text-align: center;
}

.rodadas a.fechada {
	background: transparent url('../img/fundo-link-rodadas-desabilitado.gif')
		no-repeat 0 0;
}

.rodadas {
	clear: none;
	float: right;
	margin-bottom: 10px;
	width: 80px;
}

/********************* ADD JOGO *********************/
.anterior_proximo a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

.checkbox {
	clear: left;
}

.add-jogo .submit {
	background: green;
	padding: 4px 20px;
	height: 24px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.add-jogo input {
	width: 90px
}

.add-jogo .wo {
	width: 20px;
}

.vencedorWo {
	display: none;
	margin-left: 10px;
	float: left;
	clear: left;
}

.anterior_proximo {
	margin-left: 250px;
	float: none;
	height: 18px;
}

.anterior_proximo a {
	padding-bottom: 3px;
	text-decoration: none;
}

.anterior_proximo .anterior {
	background: transparent url('../img/buttons/btn-anterior.gif') no-repeat 0
		0;
	padding-left: 17px;
}

.anterior_proximo .proximo {
	background: transparent url('../img/buttons/btn-proximo.gif') no-repeat
		100% 0;
	padding-right: 17px;
}

/********************* DADOS JOGADOR *********************/
.dados-jogador dt {
	float: left;
	text-align: right;
	width: 70px;
}

.dados-jogador dd {
	text-align: left;
	margin-left: 75px
}

/********************* GERIR EVENTO *********************/
.tipo-evento {
	width: 220px;
}
.tipo-evento input {
	clear: left;
	float: left;
	margin-right: 2px;
}
.tipo-evento label {
	float: none;
}
.negrito {
	font-weight: bold;
}
#add-evento\:tipo-jogo .negrito {
	width: auto;
}
.jogadoresTreino a {
	margin: 0px;
	padding: 0px;
	vertical-align: bottom;
}
.add-evento label {
	width: 60px;
}
.add-evento .comentario {
    width: 100%;
    height: 50px;
}
.tipo-evento td {
	vertical-align:top;
	white-space: nowrap;
}
.add-evento .dados-basicos-barragem label {
	white-space: nowrap;
}
#add-evento {
	width: 400px;
}

/********************* PADROES *********************/
.botao-padrao-redondo {
	background-color: #008000;
	position: relative;
	width: 80px;
	height: 15px;
	margin: 3px;
}
.botao-padrao-redondo .corner {
	width: 3px;
	height: 3px;
}
.botao-padrao-redondo .tl {
	background-position: -80px 0px;
	top: -3px;
	left: -3px;
}
.botao-padrao-redondo .tr {
	background-position: -83px 0px;
	top: -3px;
	right: -3px;
}
.botao-padrao-redondo .bl {
	background-position: -80px -3px;
	bottom: -3px;
	left: -3px;
}
.botao-padrao-redondo .br {
	background-position: -83px -3px;
	bottom: -3px;
	right: -3px;
}
.botao-padrao-redondo .top {
	background-color: #95C396;
	top: -3px;
	left: 0px;
	right: 0px;
	height: 3px;
	position: absolute;
}
.botao-padrao-redondo .left {
	background-color: #95C396;
	top: 0px;
	left: -3px;
	bottom: 0px;
	width: 3px;
	position: absolute;
}
.botao-padrao-redondo .right {
	background-color: #95C396;
	right: -3px;
	top: 0px;
	bottom: 0px;
	width: 3px;
	position: absolute;
}
.botao-padrao-redondo .bottom {
	background-color: #95C396;
	bottom: -3px;
	left: 0px;
	right: 0px;
	height: 3px;
	position: absolute;
}
.botao-padrao-redondo .inner-button {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	padding: 0px;
	background-color: #95C396;
	border: 0px;
	text-align: center;
	text-decoration: none;
}
.mensagem_sucesso {
	background-color: #CCFFCC;
	border: 1px solid #008000;
	position: relative;
	margin: 5px;
	padding: 5px;
}
.mensagem_sucesso .corner {
	width: 3px;
	height: 3px;
	background-color: #EEF1F3;
}
.mensagem_sucesso .tl {
	background-position: -80px -16px;
	top: -1px;
	left: -1px;
}
.mensagem_sucesso .tr {
	background-position: -83px -16px;
	top: -1px;
	right: -1px;
}
.mensagem_sucesso .bl {
	background-position: -80px -19px;
	bottom: -1px;
	left: -1px;
}
.mensagem_sucesso .br {
	background-position: -83px -19px;
	bottom: -1px;
	right: -1px;
}
.mensagem_sucesso .icone {
	vertical-align: middle;
}
.mensagem_sucesso .top, .mensagem_sucesso .left, .mensagem_sucesso .bottom, .mensagem_sucesso .right {
	display: none;
}
/********************* TYPOGRAPHY *********************/
body {
	font-family: Tahoma, Arial, Helvetica, sans serif;
	font-size: 95%;
	line-height: 1.125em;
}

.sidebar h3 {
	font-size: .9em;
	color: #4f6aad;
	text-transform: uppercase;
}

.maincontent h2,.maincontent h3,.maincontent dd a {
	color: #4f6aad;
}

.dados-jogador {
	font-size: .8em;
}

input {
	font-size: 10px;
}

.sidebar-header {
	font-size: .8em;
}

.sidebar-header p {
	font-size: .9em;
	color: #fff;
	line-height: 1.8em;
}

.sidebar-header a {
	color: #fff;
}

.menu a {
	color: #ffffff;
}

#footer {
	color: #aaa;
}

#footer a {
	color: #aaa;
	font-size: .9em;
}

.gradient tbody tr:hover {
	color: #339;
}

.rodadas a:hover,.rodadas a.atual {
	color: #333;
}

.dados-jogador dt {
	color: #4F6AAD;
}

.maincontent a {
	color: #333333;
}

label {
	color: #2c6695;
}

.btn-novo a {
	color: #fff;
	font-weight: bold;
	font-size: 13px;
}

.dados-popup .campos_obrigatorios {
	font-size: 12px;
}

.dados-popup .submit {
	color: #fff;
	font-weight: bold;
}

.dados label,.dados .exemplo,.dados .complemento,.dadosExibirPerfil label,.dados .spanBtn,.texto_informativo,.container-mensagens,.mensagem_sucesso,.dados-popup label, .botao-padrao-redondo, .instrucao_upload, .dados-popup .complemento, .fieldset_bonus, .fonte-padrao {
	color: #444;
	font-size: 12px;
}

.gradient th {
	color: #039;
	font-weight: normal;
}

.gradient td {
	color: #333;
}

.gradient {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
}

.dados-basicos-barragem label {
	font-size: 12px;
	color: #fff;
}

.menu-contextual a,.menu-contextual span {
	color: #000;
	font-size: .8em;
}

.dados .submit,.perfilBtnContainer .submit {
	color: #fff;
	font-weight: bold;
}

.maincontent h2 span {
	font-size: 85%;
	font-style: italic;
}

.dados-barragem dt {
	color: #fff;
}

.dados-barragem dt,.dados-barragem dd {
	font-size: 1.2em;
	font-weight: bold;
}

.ciclos .atual {
	font-weight: bold;
}

.ciclos a {
	font-size: .8em;
	color: #333;
}

.rodadas a.fechada {
	color: #333;
}

.rodadas a {
	color: #fff;
	font-size: .8em;
}

.botao-padrao-redondo .inner-button, .add-jogador .submit {
	color: #fff;
	font-weight: bold;
}

legend {
	font-size: 11px;
	color: #333;
}

.add-jogo .submit {
	color: #fff;
	font-weight: bold;
}

.add-jogo label,.add-jogo .input span {
	font-size: .8em;
	color: #333;
}

.anterior_proximo a {
	color: #333333;
	font-size: 0.8em;
}

.mensagem-erro,.mensagem-erro-hidden {
	font-size: 12px;
	color: #FF0000;
}

.voltar a {
	color: #333333;
	font-size: 0.8em;
}

#form_atualizacoes .label_atualizacoes {
	color: #009900;
}
#form_atualizacoes .label_atualizacoes, #atualizacoes {
	font-size: 0.8em;
}
.twitterDiv #descricao {
	color: #069;
	font-size:0.7em;
}
#atualizacoes .sujeito {
	font-weight: bold;
}