@CHARSET "UTF-8";
body {
	font-family: Tahoma, Arial, Helvetica, sans serif;
}
label {
	color: #2c6695;
}
#registerForm label {
	font-size: .7em;
	font-weight:bold;
}
input {
	border: 1px solid #6a9bcd;
}
.sidebar-header {
	font-size:.8em;
}
.sidebar {
	text-align:center;	
}
.sidebar h3 {
	font-size:.9em;
	color: #4f6aad;
    text-transform:uppercase;
}
.ads dt {
    font-size:.9em;
}
.ads dd {
    font-size:.7em;
}
.ads a {
	color:navy;
}

.maincontent h2 {
    color: #4f6aad;
}
.menu a {
	color:#4f6aad;	
}
.dados-jogador {
	font-size: .8em;
}
.suas-barragens h3 {
    text-transform:none;
    font-size:.8em;
}
.suas-barragens li {
    text-align:left;
}
.suas-barragens a {
    font-size: .8em;
    display:block;
    color:#333;
}
.dados-jogador dt {
	color:#4f6aad;
}
/* Tables */
.gradient {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
}
.gradient th {
	font-size: 13px;
	font-weight: normal;
}

/* Modal */
.dados-barragem label {
	font-size:.8em;
}

.ciclos a, .rodadas a, .editar-ciclo .dados-barragem dt,.editar-ciclo .dados-barragem dd {
    font-size: .8em;
}

.home h2.slogan {
    font-size:1em;
}
#cboxTitle {
font-weight: bold;
}