<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>barragem</display-name>
	<welcome-file-list>
		<welcome-file>login.xhtml</welcome-file>
	</welcome-file-list>

	<!-- Facelets config -->
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.validateXml</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.verifyObjects</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!-- RichFaces config  -->
	<!-- Defines how the RichFaces style files are loaded to application. -->
	<context-param>
		<param-name>org.richfaces.LoadStyleStrategy</param-name>
		<param-value>NONE</param-value>
	</context-param>
	
	<!-- Defines how the RichFaces script files are loaded to application. -->
	<context-param>
		<param-name>org.richfaces.LoadScriptStrategy</param-name>
		<param-value>NONE</param-value>
	</context-param>

	<!-- Defining and mapping the RichFaces filter -->
	<filter>
		<display-name>RichFaces Filter</display-name>
		<filter-name>richfaces</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
	     <init-param>
	          <param-name>createTempFiles</param-name>
	          <param-value>false</param-value>
	     </init-param>
	     <init-param>
	          <param-name>maxRequestSize</param-name>
	          <param-value>20000000</param-value>
	     </init-param>
	</filter>
	<filter-mapping>
		<filter-name>richfaces</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>ProtectedPagesFilter</filter-name>
		<filter-class>net.barragem.view.filter.ProtectedPagesFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ProtectedPagesFilter</filter-name>
		<url-pattern>/protectedpages/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>LoginProtectionFilter</filter-name>
		<filter-class>net.barragem.view.filter.LoginProtectionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginProtectionFilter</filter-name>
		<url-pattern>/login.xhtml</url-pattern>
	</filter-mapping>

	<filter>
		<display-name>Foto Default Jogador Filter</display-name>
		<filter-name>fotoDefaultJogadorFilter</filter-name>
		<filter-class>net.barragem.view.filter.FotoDefaultJogadorFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>fotoDefaultJogadorFilter</filter-name>
		<url-pattern>/protectedpages/*</url-pattern>
	</filter-mapping>

	<!-- Captcha config  -->
    <servlet>
        <servlet-name>BarragemCaptchaServlet</servlet-name>
        <servlet-class>net.barragem.util.BarragemCaptchaServlet</servlet-class>
        <init-param>
            <param-name>width</param-name>
            <param-value>250</param-value>
        </init-param>
        <init-param>
            <param-name>height</param-name>
            <param-value>40</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>BarragemCaptchaServlet</servlet-name>
        <url-pattern>/captcha-barragem</url-pattern>
    </servlet-mapping>
    
    <!-- Spring config -->
   	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/sprCtxMail.xml /WEB-INF/sprCtxJmsServer.xml /WEB-INF/sprCtxJmsClient.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Image Servlet -->
	<servlet>
		<servlet-name>Image Servlet</servlet-name>
		<servlet-class>net.barragem.util.ImageServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Image Servlet</servlet-name>
		<url-pattern>/protectedpages/exibirimagem/exibirImagem.do</url-pattern>
	</servlet-mapping>
</web-app>