<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>barragem</display-name>
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>login.xhtml</welcome-file>
	</welcome-file-list>

	<!-- Facelets config -->
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name><param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.RECREATE_VALUE_EXPRESSION_ON_BUILD_BEFORE_RESTORE</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.validateXml</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.verifyObjects</param-name><param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!-- RichFaces config  -->
	<!-- Defining and mapping the RichFaces filter-->
	<filter>
		<display-name>RichFaces Filter</display-name>
		<filter-name>richfaces</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
	     <init-param>
			<param-name>forceparser</param-name>
			<param-value>false</param-value>
		</init-param>
	     <init-param>
	          <param-name>createTempFiles</param-name>
	          <param-value>false</param-value>
	     </init-param>
	     <init-param>
	          <param-name>maxRequestSize</param-name>
	          <param-value>1048576</param-value>
	     </init-param>
	</filter>
	<filter-mapping>
		<filter-name>richfaces</filter-name>
		<url-pattern>*.xhtml</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- Elementos específicos da aplicação -->
	<filter>
		<filter-name>CookieTweakFilter</filter-name>
		<filter-class>net.barragem.scaffold.CookieTweakFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CookieTweakFilter</filter-name>
		<url-pattern>*.xhtml</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>net.barragem.scaffold.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/protectedpages/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ProtectedPagesFilter</filter-name>
		<filter-class>net.barragem.scaffold.ProtectedPagesFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ProtectedPagesFilter</filter-name>
		<url-pattern>/protectedpages/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>LoginProtectionFilter</filter-name>
		<filter-class>net.barragem.scaffold.LoginProtectionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginProtectionFilter</filter-name>
		<url-pattern>/login.xhtml</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>FotoDefaultJogadorFilter</filter-name>
		<filter-class>net.barragem.scaffold.FotoDefaultJogadorFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FotoDefaultJogadorFilter</filter-name>
		<url-pattern>/protectedpages/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>RecuperarSenhaProtectionFilter</filter-name>
		<filter-class>net.barragem.scaffold.RecuperarSenhaProtectionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RecuperarSenhaProtectionFilter</filter-name>
		<url-pattern>/publicpages/recuperarsenha/recuperarSenha.xhtml</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>PosNovoUsuarioFilter</filter-name>
		<filter-class>net.barragem.scaffold.PosNovoUsuarioFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PosNovoUsuarioFilter</filter-name>
		<url-pattern>/protectedpages/novousuario/passo-2-perfil.xhtml</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>net.barragem.scaffold.BarragemServletContextListener</listener-class>
	</listener>

	<!-- Captcha config  -->
    <servlet>
        <servlet-name>BarragemCaptchaServlet</servlet-name>
        <servlet-class>net.barragem.scaffold.BarragemCaptchaServlet</servlet-class>
        <init-param>
            <param-name>width</param-name>
            <param-value>250</param-value>
        </init-param>
        <init-param>
            <param-name>height</param-name>
            <param-value>40</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>BarragemCaptchaServlet</servlet-name>
        <url-pattern>/captcha-barragem.do</url-pattern>
    </servlet-mapping>
    
	<!-- Image Servlet -->
	<servlet>
		<servlet-name>Image Servlet</servlet-name>
		<servlet-class>net.barragem.scaffold.ImageServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Image Servlet</servlet-name>
		<url-pattern>/protectedpages/exibirimagem/exibirImagem.do</url-pattern>
	</servlet-mapping>

	<!-- Ranking Mashup Servlet -->
	<servlet>
		<servlet-name>Ranking Mashup Servlet</servlet-name>
		<servlet-class>net.barragem.scaffold.RankingMashupServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ranking Mashup Servlet</servlet-name>
		<url-pattern>/publicpages/mashup/ranking.json</url-pattern>
	</servlet-mapping>

	<!-- Estatisticas Servlet -->
	<servlet>
		<servlet-name>Estatisticas Servlet</servlet-name>
		<servlet-class>net.barragem.scaffold.EstatisticasServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Estatisticas Servlet</servlet-name>
		<url-pattern>/protectedpages/exibireventos/exibirEstatisticas.do</url-pattern>
	</servlet-mapping>

	<!-- Scale Images Servlet>
	<servlet>
		<servlet-name>Scale Images Servlet</servlet-name>
		<servlet-class>net.barragem.scaffold.ScaleImagesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Scale Images Servlet</servlet-name>
		<url-pattern>/protectedpages/scaleImages.do</url-pattern>
	</servlet-mapping -->

    <!-- Spring config -->
   	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/sprCtxMail.xml /WEB-INF/sprCtxJmsServer.xml /WEB-INF/sprCtxJmsClient.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>